:root {
	--primary-grey: #181a1b;
  --blue: #6495ed;
  --primary-green: #5fb267;
  --primary-blue: #14bdff;
  --fa-angle-path: url("../icons/inverted/angle-down-solid.png");
}

html, body, div, applet, object,
iframe, h1, h2, h3, h4, h5, h6, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
header, hgroup, output, ruby,
section, summary, time, mark, audio, video {
	margin:  0 0 0 0;
	line-height: 1.25em;
	box-sizing: border-box;
	max-width: 100%;

	scrollbar-color: var(--green) transparent !important;
}

body
{
	background: var(--primary-grey); 
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	color: #ffffff;
	font-family: "ariel";
	max-width: 100%;
	min-height: 100%;
	margin: 0 0;
	/*padding-bottom: 2em;*/
}

#content
{
	overflow-y: hidden;
	margin: 25vh 0;
	max-width: 90%;
	width: 850px;
	text-align: left;
}

@media screen and (max-height: 700px) {
	#content {
		margin: 10vh 0;
	}
}

ul li {
  list-style: none;
  list-style-position: inside !important;
}

#content ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--primary-green); /* Change the color #cf7327*/
  font-weight: bold; /* If you want it to be bold */
  font-size: 11pt;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: 0em; /* Also needed for space (tweak if needed) */
}

button {
	background: rgba(100, 200, 100, 0.5);
	margin: 0.5em;
	cursor: pointer;
	border: 2px solid rgba(20, 20, 20, 0.85);
	border-radius: 5px;
}

button:hover {
	background: rgba(100, 200, 100, 0.75);
}

input {
	border: 0px;
	color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 1.25em;
}

input[disabled] {
	background: rgba(255, 255, 255, 0.25);
}

#input-hour, #input-minute,
#button-set, #button-unset,
#button-snooze, #button-stop {
	font-size: 1.5em;
}
@media screen and (max-width: 700px) {
	#input-hour, #input-minute,
	#button-set, #button-unset,
	#button-snooze, #button-stop {
		font-size: 2em;
	}
}

.m-1em-0 {
	margin: 1em 0;
}

.m-1em {
	margin: 1em;
}

.fs-1em {
	font-size: 1em;
}
.fs-1-5em {
	font-size: 1.5em;
}
.fs-2em {
	font-size: 2em;
}
.fs-3em {
	font-size: 3em;
}
.fs-4em {
	font-size: 4em;
}

#img-ring {
	background: hsl(50deg, 75%, 50%);
	width: 12.5em;
	padding: -3px;
}

#div-set-alarm {
	background: rgba(24, 26, 27, 0.5);
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 350px;
	max-width: 90%;
	border-radius: 1em;
}

#div-snooze-stop { 
	background: rgba(24, 26, 27, 0.5);
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-top: 1em;
	width: 350px;
	max-width: 90%;
	border-radius: 1em;
}

/* width */
::-webkit-scrollbar 
{
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track 
{
 	background: var(--primary-grey); 
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
 	background: var(--primary-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
 	background: var(--primary-blue);
}
